body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.container {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.726);
  max-width: 900px;
  width: 100%;
  margin-top: 50px;
}


header h1{
  text-align: center;
  padding: 20px;
  background-color: #000000;
  color: white;
  margin-left: 40px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header img {
  margin-left: 0cm;
  
}

.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: -8px;}

  .div1 p{
    line-height: 0;
  }

section {
  margin-top: 20px;
}

section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

footer {
  margin-top: 20px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #0073e6;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .container {
      padding: 15px;
  }
}

@media (max-width: 600px) {
  .container {
      padding: 15px;
  }
}





